#Editor {
  flex: 1;
  display: flex;

  textarea {
    flex: 1;
    padding: 30px;
    border: none;
    resize: none;
    min-height: 100vh;
    line-height: 180%;
    background-color: #f3f3f3;

    &:focus {
      outline: none
    }
  }
}
